.modal-header{
    padding: 7px 15px;
    background-color: #333;
}
.modal-title{
    color: white;
    font-size: 18px;
}
.modal-footer{
    padding: 7px 15px;
}
.actionButtonContainer{
    display: flex;
    align-items: center;
}
.actionButtonContainer > button{
    border: 1px;
    margin: 0 5px;
    font-size: 12px;
}